/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2022, 8:57:17 PM
    Author     : kevin
*/

.buttonPanel:hover {
    -fx-background-color: #ca1e1a;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgb(202,30,26) , 10, 0.0 , 0 , 1 );
}

.radiusBorderPanel{
    -fx-border-radius: 30 30 0 0;
    -fx-background-radius: 30 30 0 0;
}

.roundButton{
    -fx-background-radius: 5em;
    
}

.completeBorderPanel{
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.whiteFontField{
    -fx-text-fill : red;
}